* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.custum-card {
  width: 50%;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: black;
  font-size: large;
}
.login_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custum_btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle {
  cursor: pointer;
}
.forgot_password {
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: end;
}
.login_form {
  width: 90%;
}
.login_button {
  width: 100%;
}
